<div class="tx_sharethis">
	<!-- don't delete this HTML-code, because we need it! -->
	<script type="text/javascript">
		// define options (we use them in Resources/Public/Js/tx_sharethis.js)
		var publisherId = '{publisherId}';
	</script>
	<div id="tx_sharethis_javascriptPlaceholder"></div>


	<!-- show buttons (if you need it, you can change this HTML-code) -->
	<div class="button-bar">
		<f:if condition="{showButtonForEmail} > 0">
			<f:then>
				<span class="st_email" st_url="{shareUrl}"></span>
			</f:then>
		</f:if>
		<f:if condition="{showButtonForFacebook} > 0">
			<f:then>
				<span class="st_facebook" st_url="{shareUrl}"></span>
			</f:then>
		</f:if>
		<f:if condition="{showButtonForTwitter} > 0">
			<f:then>
				<span class="st_twitter" st_url="{shareUrl}"></span>
			</f:then>
		</f:if>
		<f:if condition="{showButtonForSharethis} > 0">
			<f:then>
				<span class="st_sharethis" st_url="{shareUrl}" displayText="{f:translate(key:'textForButtonShareThis')}"></span>
			</f:then>
		</f:if>
	</div>
</div>