<div class="tx_sharethis">
	<!-- don't delete this HTML-code, because we need it! -->
	<script type="text/javascript">
		// define options (we use them in Resources/Public/Js/tx_sharethis.js)
		var publisherId = '{publisherId}';
	</script>

	<!-- show buttons -->
	<div class="button-bar">
		<f:render section="main" />
	</div>

	<!-- don't delete this HTML-code, because we need it! -->
	<script type="text/javascript">
		if (typeof tx_sharethis == 'object') {
			tx_sharethis.reloadButtons();
		}
	</script>
</div>